inputData/cru_ts4.08.1901.2023.pet.dat.nc
inputData/cru_ts4.08.1901.2023.pet.dat.nc.gz
inputData/cru_ts4.08.1901.2023.pre.dat.nc
inputData/cru_ts4.08.1901.2023.pre.dat.nc.gz
outputNcdf/spei01.nc
outputNcdf/spei02.nc
outputNcdf/spei03.nc
outputNcdf/spei04.nc